<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.FriendBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.FriendBean" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="FID" property="fid" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="UserMap" type="com.better.entity.UserBean" >
    <id column="UID" property="uid" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASS" property="pass" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="IS_ADMIN" property="isAdmin" jdbcType="SMALLINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, UID, FID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFriendList" resultMap="UserMap" parameterType="java.lang.Integer">
   SELECT 
   UID,USERNAME 
   FROM tbl_user WHERE UID IN
 	(SELECT fid AS fid FROM tbl_user_user WHERE UID=#{0}
 	UNION ALL
 	SELECT uid AS fid FROM tbl_user_user WHERE FID=#{0})
  </select>
  
   <select id="selectByFriends" resultType="java.lang.Integer" parameterType="com.better.entity.FriendBean">
   
   SELECT ID  FROM tbl_user_user 
   WHERE (UID = #{uid,jdbcType=INTEGER}  AND FID = #{fid,jdbcType=INTEGER}) OR (UID = #{fid,jdbcType=INTEGER} AND FID = #{uid,jdbcType=INTEGER})
   
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_user_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.FriendBean" >
    insert into tbl_user_user (ID, UID, FID)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.FriendBean" >
    insert into tbl_user_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="fid != null" >
        FID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.FriendBean" >
    update tbl_user_user
    <set >
      <if test="uid != null" >
        UID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        FID = #{fid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.better.entity.FriendBean" >
    update tbl_user_user
    set UID = #{uid,jdbcType=INTEGER},
      FID = #{fid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>