<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.GroupBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.GroupBean" >
    <id column="GID" property="gid" jdbcType="INTEGER" />
    <result column="GNAME" property="gname" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="SMALLINT" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="GTIME" property="gtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    GID, GNAME, MEMO, STATUS, UID, GTIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_chatgroup
    where GID = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_chatgroup
    where GID = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.GroupBean" >
    insert into tbl_chatgroup (GID, GNAME, MEMO, 
      STATUS, UID, GTIME
      )
    values (#{gid,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{uid,jdbcType=INTEGER}, #{gtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.GroupBean" >
    insert into tbl_chatgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        GID,
      </if>
      <if test="gname != null" >
        GNAME,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="gtime != null" >
        GTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gtime != null" >
        #{gtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.GroupBean" >
    update tbl_chatgroup
    <set >
      <if test="gname != null" >
        GNAME = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        UID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="gtime != null" >
        GTIME = #{gtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GID = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.better.entity.GroupBean" >
    update tbl_chatgroup
    set GNAME = #{gname,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=SMALLINT},
      UID = #{uid,jdbcType=INTEGER},
      GTIME = #{gtime,jdbcType=TIMESTAMP}
    where GID = #{gid,jdbcType=INTEGER}
  </update>
</mapper>