<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.GroupUserBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.GroupUserBeanKey" >
    <id column="UID" property="uid" jdbcType="INTEGER" />
    <id column="GID" property="gid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.better.entity.GroupUserBeanKey" >
    delete from tbl_chatgroup_user
    where UID = #{uid,jdbcType=INTEGER}
      and GID = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.GroupUserBeanKey" >
    insert into tbl_chatgroup_user (UID, GID)
    values (#{uid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.GroupUserBeanKey" >
    insert into tbl_chatgroup_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="gid != null" >
        GID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>