<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.OrgBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.OrgBean" >
    <id column="OID" property="oid" jdbcType="INTEGER" />
    <result column="ONAME" property="oname" jdbcType="VARCHAR" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="OFILE" property="ofile" jdbcType="VARCHAR" />
    <result column="DESCIPT" property="descipt" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="SMALLINT" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    OID, ONAME, LOGO, OFILE, DESCIPT, STATUS, UID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_organization
    where OID = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_organization
    where OID = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.OrgBean" >
    insert into tbl_organization (OID, ONAME, LOGO, 
      OFILE, DESCIPT, STATUS, 
      UID)
    values (#{oid,jdbcType=INTEGER}, #{oname,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{ofile,jdbcType=VARCHAR}, #{descipt,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.OrgBean" >
    insert into tbl_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        OID,
      </if>
      <if test="oname != null" >
        ONAME,
      </if>
      <if test="logo != null" >
        LOGO,
      </if>
      <if test="ofile != null" >
        OFILE,
      </if>
      <if test="descipt != null" >
        DESCIPT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="uid != null" >
        UID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="oname != null" >
        #{oname,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="ofile != null" >
        #{ofile,jdbcType=VARCHAR},
      </if>
      <if test="descipt != null" >
        #{descipt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.OrgBean" >
    update tbl_organization
    <set >
      <if test="oname != null" >
        ONAME = #{oname,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        LOGO = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="ofile != null" >
        OFILE = #{ofile,jdbcType=VARCHAR},
      </if>
      <if test="descipt != null" >
        DESCIPT = #{descipt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="uid != null" >
        UID = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where OID = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.better.entity.OrgBean" >
    update tbl_organization
    set ONAME = #{oname,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      OFILE = #{ofile,jdbcType=VARCHAR},
      DESCIPT = #{descipt,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=SMALLINT},
      UID = #{uid,jdbcType=INTEGER}
    where OID = #{oid,jdbcType=INTEGER}
  </update>
</mapper>