<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.UserBeanMapper" >

  <resultMap id="BaseResultMap" type="com.better.entity.UserBean" >
    <id column="UID" property="uid" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASS" property="pass" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <!-- 下面的字段property属性，之前和数据库不一致，这样容易出错，现在数据库字段也为“isAdmin” -->
    <result column="IS_ADMIN" property="isAdmin" jdbcType="SMALLINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    UID, USERNAME, PASS, EMAIL, MOBILE, STATUS, IS_ADMIN
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where UID = #{uid,jdbcType=INTEGER}
  </select>
  <!-- -->
  <select id="selectUserListSelective" resultMap="BaseResultMap" parameterType="com.better.entity.UserBean">
  	select 
  	 <include refid="Base_Column_List" />
  	from tbl_user
  	where 1=1 
  	 <trim>
      <if test="uid != null" >
       and UID = #{uid,jdbcType=INTEGER}
      </if>
       <if test="username != null" >
       and USERNAME = #{username,jdbcType=VARCHAR}
      </if>
       <if test="pass != null" >
       and PASS = #{pass,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
       and EMAIL = #{email,jdbcType=VARCHAR}
      </if>
       <if test="mobile != null" >
       and MOBILE = #{mobile,jdbcType=CHAR}
      </if>
      <if test="status != null" >
       and STATUS = #{status,jdbcType=INTEGER}
      </if>
      <if test="isAdmin != null" >
       and IS_ADMIN = #{isAdmin,jdbcType=SMALLINT}
      </if>
    </trim>
  </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_user
    where UID = #{uid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.better.entity.UserBean" >
    insert into tbl_user (UID, USERNAME, PASS, EMAIL, MOBILE, STATUS, IS_ADMIN)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=SMALLINT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.better.entity.UserBean" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="pass != null" >
        PASS,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.UserBean" >
    update tbl_user
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        PASS = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        IS_ADMIN = #{isAdmin,jdbcType=SMALLINT},
      </if>
    </set>
    where UID = #{uid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.better.entity.UserBean" >
    update tbl_user
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASS = #{pass,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=CHAR},
      STATUS = #{status,jdbcType=INTEGER},
      IS_ADMIN = #{isAdmin,jdbcType=SMALLINT}
    where UID = #{uid,jdbcType=INTEGER}
  </update>
  
</mapper>