<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.MessBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.MessBean" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="MID" property="mid" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="MTIME" property="mtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.better.entity.MessBeanWithBLOBs" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
    <result column="RECEIVER" property="receiver" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TID, MID, TITLE, UID, MTIME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT, RECEIVER
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_messinformation
    where TID = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_messinformation
    where TID = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.MessBeanWithBLOBs" >
    insert into tbl_messinformation (TID, MID, TITLE, 
      UID, MTIME, CONTENT, 
      RECEIVER)
    values (#{tid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{mtime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, 
      #{receiver,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.MessBeanWithBLOBs" >
    insert into tbl_messinformation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="mid != null" >
        MID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="mtime != null" >
        MTIME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="receiver != null" >
        RECEIVER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.MessBeanWithBLOBs" >
    update tbl_messinformation
    <set >
      <if test="mid != null" >
        MID = #{mid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        UID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="mtime != null" >
        MTIME = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="receiver != null" >
        RECEIVER = #{receiver,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.better.entity.MessBeanWithBLOBs" >
    update tbl_messinformation
    set MID = #{mid,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      UID = #{uid,jdbcType=INTEGER},
      MTIME = #{mtime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR},
      RECEIVER = #{receiver,jdbcType=LONGVARCHAR}
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.better.entity.MessBean" >
    update tbl_messinformation
    set MID = #{mid,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      UID = #{uid,jdbcType=INTEGER},
      MTIME = #{mtime,jdbcType=TIMESTAMP}
    where TID = #{tid,jdbcType=INTEGER}
  </update>
</mapper>