<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.better.dao.ValidateBeanMapper" >
  <resultMap id="BaseResultMap" type="com.better.entity.ValidateBean" >
    <id column="VALIDATE_ID" property="validateId" jdbcType="INTEGER" />
    <result column="OID" property="oid" jdbcType="INTEGER" />
    <result column="VALIDATE_CODE" property="validateCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    VALIDATE_ID, OID, VALIDATE_CODE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_validateuser
    where VALIDATE_ID = #{validateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_validateuser
    where VALIDATE_ID = #{validateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.better.entity.ValidateBean" >
    insert into tbl_validateuser (VALIDATE_ID, OID, VALIDATE_CODE, 
      STATUS)
    values (#{validateId,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{validateCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.better.entity.ValidateBean" >
    insert into tbl_validateuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="validateId != null" >
        VALIDATE_ID,
      </if>
      <if test="oid != null" >
        OID,
      </if>
      <if test="validateCode != null" >
        VALIDATE_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="validateId != null" >
        #{validateId,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="validateCode != null" >
        #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.better.entity.ValidateBean" >
    update tbl_validateuser
    <set >
      <if test="oid != null" >
        OID = #{oid,jdbcType=INTEGER},
      </if>
      <if test="validateCode != null" >
        VALIDATE_CODE = #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where VALIDATE_ID = #{validateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.better.entity.ValidateBean" >
    update tbl_validateuser
    set OID = #{oid,jdbcType=INTEGER},
      VALIDATE_CODE = #{validateCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where VALIDATE_ID = #{validateId,jdbcType=INTEGER}
  </update>
</mapper>